<?xml version="1.0" ?>
<config>
	<modules>
		<Synapse_Quote>
			<version>1.0.0</version>
		</Synapse_Quote>
	</modules>	
	<global>
		<blocks>
			<quote> 
				<class>Synapse_Quote_Block</class>
			</quote>
		</blocks>
		<models>
			<quote>
				<class>Synapse_Quote_Model</class>
				<resourceModel>quote_resource</resourceModel>
			</quote>
			<quote_resource>
				<class>Synapse_Quote_Model_Resource</class>
				<entities>
					<quote>
						<table>quote_information</table>
					</quote>
				</entities>
			</quote_resource>
		</models>
		<events>
			<checkout_cart_product_add_after>
				<observers>
					<quote_customprice_price_observer>
						<type>singleton</type>
						<class>Synapse_Quote_Model_Price_Observer</class>
						<method>applyQuotePrice</method>
					</quote_customprice_price_observer>
				</observers>
			</checkout_cart_product_add_after>
			<checkout_cart_product_add_before>
				<observers>
					<quote_customprice_price_observer>
						<type>singleton</type>
						<class>Synapse_Quote_Model_Price_Observer</class>
						<method>checkDuplicate</method>
					</quote_customprice_price_observer>
				</observers>
			</checkout_cart_product_add_before>
			<checkout_cart_update_items_after>
			  <observers>
					<quote_customprice_price_observer>
						<type>singleton</type>
						<class>Synapse_Quote_Model_Price_Observer</class>
						<method>updateCustomPrice</method>
					</quote_customprice_price_observer>
				</observers>
			</checkout_cart_update_items_after>
			<sales_quote_remove_item>
				<observers>
					<quote_customprice_price_observer>
						<type>singleton</type>
						<class>Synapse_Quote_Model_Price_Observer</class>
						<method>getCustomPrice</method>
					</quote_customprice_price_observer>
				</observers>
			</sales_quote_remove_item>
		</events>
        <template>
            <email>
                <custom_template>
                    <label>Save Quote</label>
                    <file>custom_template.html</file>  // this specifies the path where the custom template is located
                    <type>html</type>
                </custom_template>
            </email>
        </template>
	</global>
	<frontend>
		<routers>
			<quote>
				<use>standard</use>
				<args>
					<module>Synapse_Quote</module>
					<frontName>quote</frontName>
				</args>
			</quote>
		</routers>
		<layout>
			<updates>
				<quote>
					<file>quote.xml</file>
				</quote>
			</updates>
		</layout>
	</frontend>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Synapse_Quote before="Mage_Adminhtml">Synapse_Quote_Adminhtml</Synapse_Quote>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    	</admin>
</config>
